/* Global Setting */
body{margin:0; padding:0;text-align:left; font-size:12px; font-family:'Microsoft YaHei',Arial; background:#FFF;}
table{border-collapse:collapse;}
td,th{padding:0;}
ul,li,dd,dl,dt{margin:0; padding:0; list-style:none; word-break:break-all;}
img{border:0;}
p{margin:0; word-break:break-all;}
h1,h2,h3,h4{margin:0;padding:0; font-weight:normal; font-size:14px;}
em{ font-size:12px; font-style:normal;}
hr{background:none;border:none;border-bottom:1px solid #CCC;#border-bottom:0;}
.clear {clear:both;height:0;font-size:1px;line-height: 0px;}
a{text-decoration:none; border:0; outline:none; blr:expression(this.onFocus=this.blur());}
select,input,textarea{font-family:inherit; outline:none;}

.wrapper{ width:640px; margin:0 auto; border:none; padding:0;}
.innerDiv{ width:100%; height:100%; position:relative;}
.abs{ position:absolute;}
.dsb{ display:block;}


/*仓库查询*/
.selectLine{ height:66px; width:605px; padding:0 0 0 35px; border-bottom:1px solid #dfdfdf; background:url(../images/icon1.png) 575px 10px no-repeat #FFF;}
.selectLine select{ background:none; border:none; display:block; width:605px; height:66px; line-height:66px; color:#828282; font-size:28px; -webkit-appearance:none; appearance:none;}
.loftLine{ border-bottom:1px solid #dfdfdf; padding:10px; width:620px;}
.loftLineImg{ float:left; width:180px; height:135px;}
.llRightInfo{ float:right; width:420px; padding:0 15px 0 0; color:#333; font-size:28px;}
.llName{ width:418px; height:76px; line-height:38px; padding:0 0 5px 0; color:#333; font-size:28px; text-align:right; word-break:break-all; overflow:hidden;}
.llBtns{ text-align:right; width:420px;}
.llBtns a{ margin-left:6px;}

.topTitle{ background:#04564a; border-bottom:2px solid #079077; height:86px; line-height:86px; color:#FFF; font-size:28px; text-align:center;}
.titleBack{ position:absolute; left:0; top:10px; padding:20px; line-height:100%;}
.loftIntro{ padding:0 0 100px 0;}
.liLine{ padding:16px 45px 16px 35px; width:560px; border-bottom:1px solid #dfdfdf;}
.liTitle{ font-size:28px; line-height:36px; color:#04564a; width:160px; float:left;}
.liTxt{ font-size:28px; line-height:36px; color:#666; width:360px; float:right; word-break:break-all;}

.liLine2{ padding:16px 45px 16px 35px; width:560px; border-bottom:1px solid #dfdfdf;}
.liLine2 ul li{ background:url(../images/icon3.png) 15px 14px no-repeat; font-size:28px; line-height:36px; color:#666; width:520px; padding:0 0 10px 40px; word-break:break-all;}
.bottomTool{ background:url(../images/bottomToolBg.jpg) 0 0 repeat-x; width:640px; height:100px; position:fixed; left:50%; bottom:0; margin-left:-320px;}
.bottomTxt{ width:300px; position:absolute; font-size:30px; line-height:30px; color:#FFF; left:60px; top:40px;}
.bottomTxt a{ color:#FFF;}
.bottomBtn1{ position:absolute; left:387px; top:26px;}
.mapBlock{ width:640px; height:947px; overflow:hidden; background:#accda7;}
.mapNote{ background:url(../images/whiteBg.png) 0 0 repeat; width:605px; padding:30px 0 24px 35px; margin-left:-320px; position:fixed; bottom:100px; left:50%; font-size:24px; line-height:24px; border-top:1px solid #9ca29b；}


/*专享活动*/
.elLine{ border-bottom:1px solid #dfdfdf; padding:10px; width:620px; height:135px; background:url(../images/icon2.png) 595px 60px no-repeat;}
.elLine a{ display:block; width:100%; height:100%;}
.elImg{ width:190px; height:135px; float:left;}
.elRightTxt{ float:right; width:406px;}
.elTitle{ width:406px; text-align:left; color:#04564a; font-size:28px; line-height:36px; word-break:break-all;}
.elTitle span{ font-size:24px; color:#666666;}

.eventDetail h1{ padding:30px 0 24px 35px; font-size:28px; color:#04564a; line-height:100%;}
.edTxt{ padding:0 30px 30px 35px; width:575px; color:#666666; font-size:24px; line-height:36px; word-break:break-all;}
.edTxt p{ padding-bottom:38px;}


/*参观预约*/
.visitTitle{ padding:30px 0 24px 35px; font-size:28px; color:#04564a; line-height:100%;}
.visitInfoLine{ padding:10px 0 30px 35px; color:#828282; font-size:28px; line-height:24px;}
.visitInfoLine input{ background:#f9f9f9; border:1px solid #dfdfdf; width:554px; height:64px; padding:0 10px; line-height:64px; color:#333; font-size:28px;}
.visitBtns{ padding:45px 0 30px 0; text-align:center;}


