<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.supply.stock.stockManagement.mapper.OrderMapper">

	<select id="selectList" resultMap="Order">
		SELECT 
		stock_order.id as id,
	stock_order.visitName as visitName,
	stock_order.phone as phone,
	stock_order.company as company,
	stock_order.wareHouse_id as wareHouse_id,
	stock_order.visitTime as visitTime,
	stock_order.createTime as createtime,
	stock_warehouse.name as name 
		FROM 
		stock_order,stock_warehouse
		
		 WHERE
		stock_order.wareHouse_id=stock_warehouse.id

	</select>
	<resultMap type="com.supply.stock.stockManagement.pojo.Order"
		id="Order">
	</resultMap>
</mapper>