<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace ="com.supply.stock.stockManagement.mapper.WarehouseMapper" >
	
	<select id= "WarehouseList" resultMap ="Warehouse">
	SELECT 
    *
	FROM
	    stock_warehouse
	   <where>
	   
	   <if test="province!=null and province !='' and province !='--请选择--' and province !='省份' ">
	   	And province=#{province}
	   </if>
	   <if test="city!=null and city !=''and city !='--请选择--' and city !='城市'">
	   And city=#{city}
	   </if>
	   <if test="area!=null and area !=''">
	  <![CDATA[  and area>=#{area}]]>
	   </if>
	   <if test="area!=null and area !=''">
	 <![CDATA[  and area<=#{contact}]]>
	   </if>
	   </where>
		ORDER BY sort DESC	
	</select>
	
	<resultMap type="com.supply.stock.stockManagement.pojo.Warehouse" id="Warehouse">
	</resultMap>
</mapper>